/*
*	Custom UNICEF Styles
*/

.navbar-inverse {
	background-color: #00ADFF;
	border-color: #007BCE;
}

.navbar-inverse .navbar-toggle {
	border-color: #49A8E7;
}

.navbar-inverse .navbar-brand {
color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #0BB1FF;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	color: #fff;
	background-color: #00adff;
}

.eventpreview {
	min-height: 300px;
	max-height: 400px;
	max-width: 100%;
	min-width: 60px;

}
